{extend name='base'/}
{block name='content'/}
        <div class="panel">
            <div class="page-header">
                主编管理
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
            <th>编号</th>
            <th>用户名</th>
            <th>email</th>
            <th>注册时间</th>
            <th>申请理由</th>
            <th>审核状态</th>
            <th>操作</th>
            </thead>
            <tbody>
            {volist name='editors' id='user'}
            <tr>
                <td>{$user.id}</td>
                <td>{$user.name}</td>
                <td>{$user.email}</td>
                <td>{:date('Y-m-d H:i:s',$user.register_at)}</td>
                <td>{$user.role_reason}</td>
                <td>{$user.role_status_name}</td>
                <td>{if $user.role_status==0}<a href="{:url('admin/editor/pass')}?id={$user.id}&status=1">审核通过</a> <a href="{:url('admin/editor/pass')}?id={$user.id}&status=2">审核不通过</a>{/if}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
{/block}