{extend name='base'/} {block name='content'/}
<div class="row">
    <div class="col-lg-12">
        <div class="head">
            <span>热门活动</span>
        </div>
        <div class="ac-list">
            <hr>
            {volist name='acts' id='act'}
            <div class="act-item">
                <div class="row">
                    <div class="col-md-9">
                        <div class="act-header">
                            <span class="act-cat">{$act.cat.name}</span>
                            <span class="act-name"><a href="{:url('index/act/detail')}?id={$act.id}">{$act.name}</a></span>

                        </div>
                        <div class="img-frame">
                            <img class="act-img" src="__STATIC__/static/image/{$act.face}">
                        </div>
                        <div class="act-body">
                            <span>{:mb_substr($act.txt,0.50)}</span>
                        </div>
                    </div>
                    <div class="col-md-3 act-meta-frame">
                        <div class="act-meta">
                            <span class="glyphicon glyphicon-user" style="font-size:18px;color:#00c3f5">&nbsp;</span>
                            <span>{$act.user.name}</span>
                        </div>
                        <div class="act-meta">
                                <span class="glyphicon glyphicon-lock" style="font-size:18px;color:#00c3f5">&nbsp;</span>
                                <span>{$act.limit}</span>
                        </div>
                        <div class="act-meta">
                            <span class="glyphicon glyphicon-map-marker" style="font-size:18px;color:#00c3f5">&nbsp;</span>
                            <span>{$act.location}</span>
                        </div>
                        <div class="act-meta">
                            <span class="glyphicon glyphicon-bullhorn" style="font-size:18px;color:#00c3f5">&nbsp;</span>
                            <span style="padding-right: 1.2em;">{$act.members}/{$act.members_limit}</span><button data-status="{$act.is_member}" class="btn btn-info" id="signup" data-id="{$act.id}">{if !$act.is_member}报名{elseif $act.members>=$act.members_limit/}已满{else/}已报名{/if}</button>
                        </div>
                        <div class="act-meta">
                            <span class="glyphicon glyphicon-star-empty" style="font-size:18px;color:#00c3f5">&nbsp;</span>
                            <span ><button class="btn btn-info" data-status="{$act.is_collected}" id="collect" data-id="{$act.id}">{if !$act.is_collected}收藏{else/}取消收藏{/if}</button> </span>
                        </div>
                    </div>
                </div>
                <hr>
                {/volist}
            </div>
        </div>
    </div>
</div>
<script>
    $("#collect").click(function (event) {
        var id = $(this).attr('data-id');
        var status = $(this).attr('data-status');
        if (status == '0') {
            $.ajax({
                url: "{:url('index/act/collect')}",
                type: "post",
                dataType: 'json',
                data: {id: id},
                xhrFields: {withCredentials: true},
                success: function (msg) {
                    alert(msg.msg);
                    if (msg.code) {
                        $("#collect").text("取消收藏");
                        $("#collect").attr('data-status', 1);
                    } else {
                        $("#collect").text("收藏");
                    }
                }
            })
        } else {
            $.ajax({
                url: "{:url('index/act/dis_collect')}",
                type: "post",
                dataType: 'json',
                data: {id: id},
                xhrFields: {withCredentials: true},
                success: function (msg) {
                    alert(msg.msg);
                    if (msg.code) {
                        $("#collect").text("收藏");
                        $("#collect").attr('data-status', 0);
                    } else {
                        $("#collect").text("取消收藏");
                    }
                }
            })
        }
    })

    $("#signup").click(function (event) {
        var id = $(this).attr('data-id');

        var status = $(this).attr('data-status');
        if (status == '0') {
            $.ajax({
                url: "{:url('index/act/signup')}",
                type: "post",
                dataType: 'json',
                data: {id: id},
                xhrFields: {withCredentials: true},
                success: function (msg) {
                    alert(msg.msg);
                    if (msg.code) {
                        $("#signup").text("已报名");
                        $("#signup").attr('data-status', 1);
                    } else {
                        $("#signup").text("报名");
                    }
                }
            })
        }
    })
</script>
{/block}