{extend name='base'/} {block name='content'/}
<div class="row">
    <div class="col-lg-12">
        <div class="head">
            <span>热门活动</span>
        </div>
        <div class="ac-list">
            <hr>
            <div class="act-item">
                <div class="row">
                    <div class="col-md-9">
                        <div class="act-header">
                            <span class="act-cat" style="text-align-all: center">精选优惠</span>
                            <span class="act-name">魅族应用商店抽5元话费活动 限魅族手机参与！</span>
                        </div>
                    </div>
                    <div class="col-md-3 act-meta-frame" style="border-left: 1px dotted lightgray">
                        <div class="act-meta">
                            <span class="glyphicon glyphicon-user" style="font-size:18px;">&nbsp;</span>
                            <span>一轮明月照九州</span>
                        </div>
                        <div class="act-meta">
                                <span class="glyphicon glyphicon-lock">&nbsp;</span>
                                <span>中国银行62开头信用卡用户可参与</span>
                        </div>
                        <div class="act-meta">
                            <span class="glyphicon glyphicon-map-marker">&nbsp;</span>
                            <span>万达广场</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}