{extend name='base'/} {block name='content'/}
<div class="row">
    <div class="col-lg-12">
        <div class="head">
            <span>热门活动</span>
        </div>
        <div class="ac-list">
            <hr>
            <div class="act-item">
                <div class="row">
                    <div class="col-md-9">
                        <div class="act-header">
                            <span class="act-cat">精选优惠</span>
                            <span class="act-name">魅族应用商店抽5元话费活动 限魅族手机参与！魅族应用商店抽5元话费活动 限魅族手机参与</span>

                        </div>
                        <div class="img-frame">
                            <img class="act-img" src="__STATIC__/static/image/sample.jpg">
                        </div>
                        <div class="act-body">
                            <span>魅族官网提供魅族 PRO 系列、MX 系列、魅族配件系列产品的预约和购买。提供最新魅族产品资讯、完善的售后服务、社区在线交流、手机固件/应用下载。</span>
                        </div>
                    </div>
                    <div class="col-md-3 act-meta-frame">
                        <div class="act-meta">
                            <span class="glyphicon glyphicon-user" style="font-size:18px;color:#00c3f5">&nbsp;</span>
                            <span>一轮明月照九州</span>
                        </div>
                        <div class="act-meta">
                                <span class="glyphicon glyphicon-lock" style="font-size:18px;color:#00c3f5">&nbsp;</span>
                                <span>中国银行62开头信用卡用户可参与</span>
                        </div>
                        <div class="act-meta">
                            <span class="glyphicon glyphicon-map-marker" style="font-size:18px;color:#00c3f5">&nbsp;</span>
                            <span>万达广场</span>
                        </div>
                        <div class="act-meta">
                            <span class="glyphicon glyphicon-bullhorn" style="font-size:18px;color:#00c3f5">&nbsp;</span>
                            <span style="padding-right: 1.2em;">1/60</span><button class="btn btn-info">可报名</button>
                        </div>
                        <div class="act-meta">
                            <span class="glyphicon glyphicon-star-empty" style="font-size:18px;color:#00c3f5">&nbsp;</span>
                            <span class="btn btn-info">收藏</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}