{extend name='base'/}
{block name='content'/}
<div class="container">
    <div class="row">
        <form action="{:url('admin/user/doLogin')}" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="user">用户名</label>
                <input class="form-control" name="user" id="user" type="text">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input class="form-control" name="password" id="password" type="password">
            </div>
            <button class="btn btn-default" type="submit">登录</button>
        </form>
    </div>
</div>
{/block}