{extend name='base'/}
{block name='content'/}
<div id="wrapper">
    <div class="aw-login-box">
        <div class="mod-body ">
            <div >
                <h2>申请认证</h2>
                {if !$apply}
                <form id="login_form" method="post"
                      action="{:url('index/user/doApply')}">
                    <input type="hidden" name="return_url" value="{$Request.header.referer}"/>
                    手机号码：<input type="text" name="mobile" style="margin-bottom: 20px;" />
                    <ul class="list-unstyled">

                          <textarea name="reason" rows="4" class="form-control" placeholder="请填写申请理由"></textarea>

                        <li class="alert alert-danger hide error_message">
                            <i class="icon icon-delete"></i>
                            <em></em>
                            {$Think.session.error}
                        </li>
                        <li class="last">
                            <button type="submit" class="pull-right btn btn-large btn-primary" style="padding-top: 1em;">提交申请</button>
                        </li>
                    </ul>
                </form>
                {else/}
                您已经申请过认证，请耐心等待审核
                {/if}
            </div>
        </div>
    </div>
</div>
{/block}