{extend name='base1'/}
{block name='content'/}
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-6 col-md-offset-2 main-content">
                <div class="page-header">
                    我的回帖
                </div>
                {volist name='cols' id='comment'}
                <div class="list-group-item" data-id="{$comment.id}">
                    <p><span class="label label-success"></span>&nbsp;<a
                            href="{:url('index/post/detail')}?id={$comment.ref_id}">{$comment.title}</a>&nbsp;
                    </p>
                    <p>我的回复：{$comment.content}&nbsp;{:date('Y-m-d H:i:s',$comment.at)}</p>
                </div>
                {/volist}
            </main>

        </div>

    </div>
</section>
<br>
<script>
    $(".cancle").click(function (event) {
        var id = $(this).attr('data-id');
        $.ajax({
            url: "{:url('index/news/dis_collect')}",
            type: "post",
            dataType: 'json',
            data: {id: id},
            xhrFields: {withCredentials: true},
            success: function (msg) {
                alert(msg.msg);
                if (msg.code) {
                    $(".list-group-item[data-id=n" + id + "]").hide();
                }
            }
        })
    })
    $(".cancle1").click(function (event) {
        var id = $(this).attr('data-id');
        $.ajax({
            url: "{:url('index/post/dis_collect')}",
            type: "post",
            dataType: 'json',
            data: {id: id},
            xhrFields: {withCredentials: true},
            success: function (msg) {
                alert(msg.msg);
                if (msg.code) {
                    $(".list-group-item[data-id=p" + id + "]").hide();
                }
            }
        })
    })
</script>
{/block}